.dashboard {
    padding: 20px;
}

.header {
    background: #1976d2;
    color: white;
}

.card-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

mat-card {
    margin-bottom: 20px;
    padding: 20px;
}

/* TIMELINE */

.timeline {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 15px;
}

.timeline-item {
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: #ddd;
}

/* STATUS */

.completed {
    background: #e8f5e9 !important;
}

.current {
    background: #e3f2fd !important;
    font-weight: bold;
}

.pending {
    background: #fafafa !important;
}

/* timeline colors */

.timeline-item.completed {
    background: #4caf50 !important;
    color: white;
}

.timeline-item.current {
    background: #1976d2 !important;
    color: white;
    transform: scale(1.25);
}

.timeline-item.pending {
    background: #cfd8dc !important;
}

table {
    width: 100%;
}

.headerul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.headerul li{
    width: 50%;
}
.tableContainer{
    overflow-x: auto;
    height: 70vh;
    overflow: auto;
}
.tableContainer th{
    position: sticky;
    top: 0;
}
@media screen and (max-width: 768px) {
    .headerul li{
        width: 100%;
    }
}
.back-btn{
    position: fixed;
    top: 20px;
    left: 20px;

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background: #1976d2;
    color: white;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

    z-index: 1000;

    transition: all 0.3s ease;
}

/* hover effect */
.back-btn:hover{
    background:#125ea9;
    transform: scale(1.1);
    box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

h1{
  font-size:40px;
}

h2{
  font-size:32px;
}

h3{
  font-size:24px;
}

/* tablet */
@media (max-width:992px){

  h1{font-size:32px;}
  h2{font-size:26px;}
  h3{font-size:20px;}

}

/* mobile */
@media (max-width:576px){

  h1{font-size:26px;}
  h2{font-size:22px;}
  h3{font-size:18px;}

}