<div class="dashboard">

    <div class="grid">

        <div class="card add">
            <app-expense-create></app-expense-create>
        </div>

        <div class="card list">
            <app-expense-list></app-expense-list>
        </div>

        <div class="card analytics">
            <app-analytics></app-analytics>
        </div>

        <div class="card calendar">
            <app-calendar></app-calendar>
        </div>

        <div class="card notifications">
            <app-notifications></app-notifications>
        </div>

    </div>

</div>